<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>愛醬-網頁設定</title>
<!-- 引入樣式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
<div id="app"><div>
    <el-tabs type="border-card">

        <!-- 關鍵字 -->
        <el-tab-pane label="關鍵字">
            <el-radio-group v-model="keyword.mode" @change="keyword_get()">
                <el-radio-button label="個人"></el-radio-button>
                <el-radio-button label="群組"></el-radio-button>
            </el-radio-group>
            <div style="float:right">
                <el-autocomplete
                    v-model="keyword.search"
                    placeholder="請輸入內容"
                    prefix-icon="el-icon-search"
                    :fetch-suggestions="keyword_search">
                </el-autocomplete>
            </div>
            <div style="float:right; margin-right:30px">
                <el-button type="primary" icon="el-icon-plus" @click="keyword_dialog('new')">新增</el-button>
            </div>

            <div style="padding:10px">
                <el-table
                    :data="tableData"
                    border
                    stripe
                    show-header="true"
                    style="width: 100%">
                    <el-table-column
                        prop="keyword"
                        label="關鍵字"
                        header-align="center"
                        width="300">
                    </el-table-column>
                    <el-table-column
                        prop="reply"
                        label="內容"
                        header-align="center"
                        min-width="300">
                    </el-table-column>
                    <el-table-column
                        label="操作"
                        header-align="center"
                        fixed="right"
                        width="150">
                        <template slot-scope="scope">
                            <el-button size="small" type="primary" @click="keyword_dialog('edit', scope.$index, scope.row)">編輯</el-button>
                            <el-button size="small" type="danger"  @click="keyword_checkbox('delete', scope.$index, scope.row)">刪除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <div style="margin: 0px auto;">
                <el-pagination 
                    background
                    @size-change="getCategories"
                    @current-change="getCategories"
                    layout="->, prev, pager, next, total, jumper, sizes"
                    :page-sizes="[20, 50, 100, 500]"
                    :page-size="pagination.size"
                    :current-page.sync="pagination.page"
                    :total="pagination.total">
                </el-pagination>
            </div>

            <div>
                <el-dialog :title="keyword.dialog.title" :visible.sync="keyword.dialog.visible">
                    <el-form :model="keyword.dialog">
                        <el-form-item label="關鍵字" label-width="formLabelWidth">
                            <el-input v-model="keyword.dialog.keyword" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="內容" :label-width="formLabelWidth">
                            <el-input v-model="keyword.dialog.reply" auto-complete="off" type="textarea" :autosize="{ minRows: 6, maxRows: 12}"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button                @click="keyword.dialog.visible = false">取消</el-button>
                        <el-button type="primary" @click="keyword_dialog_click()">確定</el-button>
                    </div>
                </el-dialog>

                <el-dialog
                    title="提示"
                    :visible.sync="keyword.checkbox.visible"
                    width="30%"
                    :before-close="handleClose">
                    <el-alert
                        :title="keyword.checkbox.title"
                        type="error"
                        center
                        :closable="false"
                        show-icon>
                    </el-alert>
                    <span slot="footer" class="dialog-footer">
                        <el-button                @click="keyword.checkbox.visible = false">取消</el-button>
                        <el-button type="primary" @click="keyword_checkbox_click()">確定</el-button>
                    </span>
                </el-dialog>
            </div>
        </el-tab-pane>

        <!-- 設定 -->
        <el-tab-pane label="設定">
            製作中
        </el-tab-pane>

        <!-- 訂閱 -->
        <el-tab-pane label="訂閱">
            製作中
        </el-tab-pane>

    </el-tabs>
</div></div>
</body>

<!-- Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- element-ui -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- main -->
<script src="templates/index.js"></script>

</html>
